# Copy this and remove .template extension

project_id   = "<YOUR PROJECT ID>"
zone         = "<YOUR REGION>"
criu_version = "v3.19"
crio_version = "v1.29"
cni_version  = "v1.5.1"
subnetwork   = "subnet-1"